.Title{
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 40px;
    font-weight: bold;
    font-style: normal;
    font-display: swap;
    border: 2px solid rgb(0, 0, 0);
}

.Introduction{
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-weight: bold;
    border: 2px solid rgb(0, 0, 0);
}

.Main_content{
    border: 2px solid rgb(255, 0, 0);
}

.Main_content_title{
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 30px;
    font-weight: bold;
    border: 2px solid rgb(0, 0, 0);
}

.ProjectObjectives{
    border: 2px solid rgb(0, 0, 0);
}

.ScopeAndDeliverables{
    border: 2px solid rgb(0, 0, 0);
}

.MethodologyAndApproach{
    border: 2px solid rgb(0, 0, 0);
}

.RiskAssessment{
    border: 2px solid rgb(0, 0, 0);
}

.TimelineAndMilestones{
    border: 2px solid rgb(0, 0, 0);
}

.ProjectStructure{
    border: 2px solid rgb(0, 0, 0);
}

.Figma{
    border: 2px solid rgb(0, 0, 0);
}

.AdditionalResources{
    border: 2px solid rgb(0, 0, 0);
}